[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
notebook = "*"
jupyter-cogram = "*"
pandas = "*"
sklearn = "*"
prince = "==0.7.1"
yellowbrick = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.9"
